<div class="margin-10 m-margin-5 pad-5 align-center bg-cotton rad-10p">
    <input id='length' class='pad-10p margin-10p bor-1 rad-10p' placeholder="Length" type="number" oninput="calculateVolume()"> &times;<br>
    <input id='width' class='pad-10p margin-10p bor-1 rad-10p' placeholder="Width" type="number" oninput="calculateVolume()"> &times;<br>
    <input id='height' class='pad-10p margin-10p bor-1 rad-10p' placeholder="Width" type="number" oninput="calculateVolume()"> &times;<br>
    <input id='board' class='pad-10p margin-10p bor-1 rad-10p' placeholder="Board Factor (Optional)" type="number" oninput="calculateVolume()"> =
    <h1 id="result" class="font-header">5 liters</h1>
</div>